/* What a mess! */

.important {
  color: blue;
  
}

#quote {
  color: blue;
  
}
.quotes {
  color: red;
}

#title {
  color: blue;
}

#name{
  color: red;

}
#paragraph {
  color: blue;
}
#paragraph1 {
  color: blue;
}
.attribute {
  color: blue;
}